<!DOCTYPE html>
<html lang="" data-ng-app="GoogleDirection">
<head>
    <meta t="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directions and weather conditions</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <link rel="stylesheet" href="css/main.css">
    <style>
        #map-canvas {
            width: 650px;
            height: 450px;
        }
        <style>
         html, body {
             width: 100%;
             height: 100%;
             font-family: "Helvetica Neue", Helvetica, sans-serif;
             color: #444;
             -webkit-font-smoothing: antialiased;
             background-size: 1300px 800px;
             background-repeat: no-repeat;
         }


    </style>
</head>
<body class="wrap" background="climate2.png" ng-controller="googlemapoutput">
<div align="right" id="header">
    <h1 align="center">Home</h1>
        <span style="padding: 0 500px">&nbsp;</span>
</div>
<div align="right" >
    <div class="row">
        <input type="text" ng-model="startlocation" id="startlocation" />
        <input type="text" ng-model="endlocation" id="endlocation" />
        <button id="btn" ng-click="calcRoute()">Get Direction</button>
        <br/></br>
    </div>
    <div align="right"  id="map-canvas" style="height: 400px;"></div>
</div>
<table>
    <tr>
        <td align="" class="weatherModule">
            <p class="currentConditions" ng-bind-html="textEnd | to_trusted"></p>
            <div class="currentIcon" ng-bind-html="iconEnd | to_trusted"></div>
        </td>
        <td class="weatherModule">
            <p class="currentConditions" ng-bind-html="textStart | to_trusted"></p>
            <div class="currentIcon" ng-bind-html="iconStart | to_trusted"></div>
        </td>
    </tr>
</table>
<ul ng-bind-html='directions | to_trusted'>
</ul>

</body>
</html>
<script>
    angular.module('GoogleDirection', [])
            .filter('to_trusted', ['$sce', function($sce){
                // http://stackoverflow.com/a/21254635
                return function(text) {
                    return $sce.trustAsHtml(text);
                };
            }])
            .controller('googlemapoutput', function($scope, $http) {

                var map;
                var mapOptions;
                var directionsDisplay = new google.maps.DirectionsRenderer({
                    draggable: true
                });
                var directionsService = new google.maps.DirectionsService();

                $scope.initialize = function() {
                    var pos = new google.maps.LatLng(0, 0);
                    var mapOptions = {
                        zoom: 3,
                        center: pos
                    };

                    map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);
                };
                $scope.calcRoute = function() {
                    //$scope.directions = "";
                    var end = document.getElementById('endlocation').value;
                    var start = document.getElementById('startlocation').value;
                    var endSplit = end.split(",");
                    var startSplit = start.split(",");
                    getWeather1($scope, endSplit[1], endSplit[0]);
                    getWeather2($scope, startSplit[1], startSplit[0]);

                    var request = {
                        origin: start,
                        destination: end,
                        travelMode: google.maps.TravelMode.DRIVING
                    };

                    directionsService.route(request, function(response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            directionsDisplay.setMap(map);
                            directionsDisplay.setDirections(response);
                            console.log(status);
                            console.log(response);
                            console.log(response.routes[0].legs[0].distance);
                            console.log(response.routes[0].legs[0].duration);
                            var html = "";
                            var steps = response.routes[0].legs[0].steps;
                            for (index = 0; index < steps.length; index++) {
                                html += ('<li>' + steps[index].instructions + '</li>');
                            }

                            //console.log(arr);
                        }

                    });
                };
                getWeather1 = function(scope, state, city) {
                    $http.get('http://api.wunderground.com/api/36b799dc821d5836/conditions/q/' + state + '/' + city + '.json').success(function(data) {
                        console.log(data);
                        temp = data.current_observation.temp_f;
                        icon = data.current_observation.icon_url;
                        weather = data.current_observation.weather;
                        console.log(temp);
                        scope.textStart = "Currently " + temp + " &deg; F and " + weather + " in " + city + " " + state;
                        scope.iconStart = "<img src='" + icon + "'/>";
                    });
                };
                getWeather2 = function(scope, state, city) {
                    $http.get('http://api.wunderground.com/api/36b799dc821d5836/conditions/q/' + state + '/' + city + '.json').success(function(data) {
                        console.log(data);
                        temp = data.current_observation.temp_f;
                        icon = data.current_observation.icon_url;
                        weather = data.current_observation.weather;
                        console.log(temp);
                        scope.textEnd = "Currently " + temp + " &deg; F and " + weather + " in " + city + " " + state;
                        scope.iconEnd = "<img src='" + icon + "'/>";
                    });
                };
                google.maps.event.addDomListener(window, 'load', $scope.initialize);

            });
</script>